:root {
    /* Colors: */
    --unnamed-color-535353: #535353;
    --unnamed-color-707070: #707070;
    --unnamed-color-7e7e7e: #7E7E7E;
    --unnamed-color-333333: #333333;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-2bb0a3: #2BB0A3;

    /* Font/text values */
    --unnamed-font-family-open-sans: Open Sans;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-15: 15px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-25: 25px;
}

/* Character Styles */

.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
}

$corporate_1: #2BB0A3;
$corporate_2: #333333;
$color_text: #707070;
$font-1:Open Sans;
$font-text: Open Sans;

$letter-spacing: 0px;
$line-height: 25px;
$font-weight: normal;
$font-style:normal;
$hoover-color:#FFFFFF;

/* Gloabl settings */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}


/* hotel component */

.hotel-card-component {

    max-width: 1300px;
    margin: 40px auto;

    .hotel-services {
        width: 1140px;
        margin-top: 80px;
        border: 2px solid $corporate_1;
        opacity: 1;
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 40px;
    }



    .hotel-picture {
        position: relative;
        top: -80px;
        overflow-y: hidden;

        .owl-carousel img {
            width: 100%;
            height: 100%;
        }

        .owl-carousel .owl-nav {
            position: absolute;
            bottom: 100px !important;
        }

        .owl-carousel .owl-prev {
            position: absolute;
            left: 30px;
            color: #ffffff;
            font-size: 25px;
            opacity: 1;
            transform: scale(1.8, 1);
        }

        .owl-carousel .owl-next {
            position: absolute;
            right: -630px;
            color: #ffffff;
            font-size: 25px;
            opacity: 1;
            transform: scale(1.8, 1);
        }


        .owl-carousel .owl-next:hover {
            color: $hoover-color;
        }

        .owl-carousel .owl-prev:hover {
            color: $hoover-color;
        }



    }

    .hotel-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
        overflow-x:hidden;
    }


    .hotel-icons-content {
        display:block;
        text-align: center;
    }

    .hotel-icons {
        img {
            width: 53px;
            height: 52px;
            margin: 0 auto;
        }

         .hotel-icon-text-container {
            width: 140px;
        }


        .hotel-icon-text {
            font: normal normal normal 13px/18px Open Sans;
            text-transform: uppercase;
            letter-spacing: 2.6px;
            color: var(--unnamed-color-535353);
            opacity: 1;
            margin-top: 30px;
        }
    }

    .hotel-text {
        max-width: 347px;
        text-align: center;

        header {
            max-width: 100%;
            text-align: center;
        }

        h2 {
            font-family: $font-1;
            font-style: $font-style;
            font-weight: $font-weight;
            color: $color_text;
            opacity: 1;

        }

        p {
            font-family: $font-text;
            font-style: $font-style;
            font-weight: var(--unnamed-font-weight-normal);
            font-size: var(--unnamed-font-size-15);
            line-height: $line-height;
            letter-spacing: $letter-spacing;
            color: $color_text;
        }
    }
}