:root {
  /* Colors: */
  --unnamed-color-535353: #535353;
  --unnamed-color-707070: #707070;
  --unnamed-color-7e7e7e: #7E7E7E;
  --unnamed-color-333333: #333333;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-2bb0a3: #2BB0A3;
  /* Font/text values */
  --unnamed-font-family-open-sans: Open Sans;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-15: 15px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-25: 25px; }

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070); }

/* Gloabl settings */
html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

/* hotel component */
.hotel-card-component {
  max-width: 1300px;
  margin: 40px auto; }
  .hotel-card-component .hotel-services {
    width: 1140px;
    margin-top: 80px;
    border: 2px solid #2BB0A3;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px; }
  .hotel-card-component .hotel-picture {
    position: relative;
    top: -80px;
    overflow-y: hidden; }
    .hotel-card-component .hotel-picture .owl-carousel img {
      width: 100%;
      height: 100%; }
    .hotel-card-component .hotel-picture .owl-carousel .owl-nav {
      position: absolute;
      bottom: 100px !important; }
    .hotel-card-component .hotel-picture .owl-carousel .owl-prev {
      position: absolute;
      left: 30px;
      color: #ffffff;
      opacity: 1; }
    .hotel-card-component .hotel-picture .owl-carousel .owl-next {
      position: absolute;
      right: -630px;
      color: #ffffff;
      opacity: 1; }
    .hotel-card-component .hotel-picture .owl-carousel .owl-next:hover {
      color: #FFFFFF; }
    .hotel-card-component .hotel-picture .owl-carousel .owl-prev:hover {
      color: #FFFFFF; }
  .hotel-card-component .hotel-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    overflow-x: hidden; }
  .hotel-card-component .hotel-icons-content {
    display: block;
    text-align: center; }
  .hotel-card-component .hotel-icons img {
    width: 53px;
    height: 52px;
    margin: 0 auto; }
  .hotel-card-component .hotel-icons .hotel-icon-text-container {
    width: 140px; }
  .hotel-card-component .hotel-icons .hotel-icon-text {
    font: normal normal normal 13px/18px Open Sans;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    color: var(--unnamed-color-535353);
    opacity: 1;
    margin-top: 30px; }
  .hotel-card-component .hotel-text {
    max-width: 347px;
    text-align: center; }
    .hotel-card-component .hotel-text header {
      max-width: 100%;
      text-align: center; }
    .hotel-card-component .hotel-text h2 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      color: #707070;
      opacity: 1; }
    .hotel-card-component .hotel-text p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: var(--unnamed-font-weight-normal);
      font-size: var(--unnamed-font-size-15);
      line-height: 25px;
      letter-spacing: 0px;
      color: #707070; }

/*# sourceMappingURL=output.css.map */
