<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/css/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <title>Component</title>
  </head>
  <body>
    <main>
      {% for card in cardHotel %}
      <div class="hotel-card-component">
        <section class="hotel-services">
          <div class="hotel-picture">
              <div class="owl-carousel">
                {% for img in card.picture %}
                <img src="{{ img.image }}" alt="picture hotel" />
                {% endfor %}
              </div>
            <div class="hotel-icons">
                {% for icon in card.icons %}
              <div class="hotel-icons-content">
                <img src="{{ icon.icon }}" alt="icon image" />
                <div class="hotel-icon-text-container">
                  <p class="hotel-icon-text">{{ icon.textIcon }}</p>
                </div>
              </div>
                {% endfor %}
            </div>
            </div>

          <div class="hotel-text">
            <header>
              <h2 class="hotel-title">
                {{ card.title }}
              </h2>
            </header>
            <div>
              <p class="hotel-text-content">
                {{ card.content | safe }}
              </p>
            </div>
          </div>
        </section>
      </div>
      {% endfor %}
    </main>

    <!-- jquery -->
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <!-- owl carousel -->
    <script src="../static/js/owl.carousel.min.js"></script>
    <!-- Scripts -->
    <script src="../static/js/owl-carousel-script.js"></script>
  </body>
</html>
